@import "tailwindcss";

:root {
  --color-brand-blue: #1E3A8A;
  --color-brand-yellow: #FBBF24;
  --color-brand-gray-light: #F5F8FF;
  --color-brand-gray-dark: #111827;
}

/* Custom utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}